


.top-grey-section {
    position: relative;
    width: 100vw;
    height: 13vh;
    background-color: lightgrey;
}

#blue-box {
    position: absolute;
    left: 25px;
    top: 25px;
    background-color: rgb(81, 154, 199);
    height: 8vh;
    width: 8vh;
}

.white-section {
    margin: 70px 55px
}

.blue-section {
    background-color: rgb(81, 154, 199);
    height: 20vh;
    width: 100vw;
}

.teal-section {
    background-color: rgb(77, 214, 180);
    height: 20vh;
    width: 100vw;
}

.yellowgreen-section {
    background-color: rgb(206, 247, 111);
    height: 20vh;
    width: 100vw;
}

.yellow-section {
    background-color: rgb(231, 209, 85);
    height: 20vh;
    width: 100vw;
}

.question-bubble {
    position: fixed;
    right: 10px; 
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  .question-mark {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-weight: bold; */
    color: white;
    font-size: 32px;
  }